$color-bg: #fff;
$green: #7cc576;
$white: #fff;
$dark: #222222;
$black: #000;
$light-gray: #ccc;
$gray: #475055;


$font-mont: 'Montserrat', sans-serif;
$font-roboto: 'Roboto Slab', serif;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$b: 1px solid red;
